.error-alert {
    background-color: red;
}

#navBar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 532px;
    margin: auto;
}

/* #navBar p {
    width: 100px;
} */